imbalanced-learn
widgetsnbextension
ipywidgets
voila==0.5.6
bqplot
plotly
numpy
pandas
seaborn
matplotlib
scikit-learn
ipywidgets
jupyterlab
notebook
ipython==8.24.0
statsmodels
jupyter_contrib_nbextensions
jupyterlab_widgets
nodejs
pip==24.0
